<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxxxzpP0WKENArITtCQ-oktF_g7bJpD1k</string>
	<key>GCM_SENDER_ID</key>
	<string>854330068599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginauth</string>
	<key>PROJECT_ID</key>
	<string>authtut-3f3fb</string>
	<key>STORAGE_BUCKET</key>
	<string>authtut-3f3fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854330068599:ios:1b1651ecea1ed28dad4072</string>
</dict>
</plist>